*{
 box-sizing: border-box;
 margin: auto;
 padding: auto;
}

#container{
    display: flex;
    width: 450px;
    height: 450px;
    gap: 1px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;

}

.square:hover {
    background-color: #e0e0e0;
  }